.card {
  color: white;
  border-radius: 2px;
  height: 199px;
  margin: 5px;
  float: left;
width: 199px;
  
  margin-top: 20px;
}

.card > .img-container {
 
 height: 100%;

}
.card > .img-container > img {
  width: 100%;
}


