* {
  box-sizing: border-box;
  font-family: sans-serif;

    
}

html, body, #root {
  padding: 0;
  margin: 0;
  
  background: url("./bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 99vw;
}
body {
  overflow-x: hidden;
}

#main {
 clear: both;
align-content: center;
width: 100%;
}

#right {
  width: 100%;
  padding: 0;
  margin: 0;
}

#left {
  width: 100%;
  padding: 0;
  margin: 0;

}